<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="DDEINTERVAL" value="5000"/>
	<add key="SERIALPORT" value=""/>
	<add key="BAUDRATE" value="4800"/>
	<add key="DATABITS" value="8"/>
	<add key="PARITY" value="None"/>
	<add key="STOPBITS" value="One"/>
	<add key="OUTFORMAT" value="FA&lt;DN&gt;;" />
	<add key="NEWLINE" value="True"/>
	<add key="SEMICOLON" value="True"/>
</appSettings>
</configuration>